@import "hvrcss.styl"

.ctn
  display flex
  align-items center
  justify-content center
  background-color white
  max-height 27vmin

.block
  flex 1
  background-color white
  height 23vmin
  margin 2vmin
  max-width 31vmin
  border 1px solid black
  display flex
  align-items center
  justify-content center

.invisible
  border 1px solid white

.top
  align-self flex-start

.bottom
  align-self flex-end

.fa
  font-size 20vmin
